{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="_username" value="{{ last_email }}" required="required" class="form-control" autocomplete="username" autofocus>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" required="required" class="form-control" autocomplete="current-password">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on">
            <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
        </div>

        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
{% endblock %}