{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<div class="container mx-auto max-w-lg p-6 bg-white shadow-md rounded-lg">
    <h1 class="text-2xl font-bold mb-6">Réinitialiser le mot de passe</h1>

    <form method="post" id="reset-password-form">
        <div class="mb-4">
            <label for="password" class="block text-gray-700 font-bold mb-2">Nouveau mot de passe</label>
            <input type="password" id="password" name="password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <small id="passwordHelp" class="mt-2 text-sm text-gray-500 block">
                Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, un chiffre et un caractère spécial.
            </small>
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Réinitialiser
        </button>
    </form>

    <a class="text-blue-500 hover:text-blue-700 mt-4 inline-block align-baseline font-bold text-sm" href="{{ path('login') }}">
        Retour à la connexion
    </a>
</div>

<script>
    document.getElementById('reset-password-form').addEventListener('submit', function(event) {
        var password = document.getElementById('password').value;
        var passwordHelp = document.getElementById('passwordHelp');
        var passwordPattern = /^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;

        if (!passwordPattern.test(password)) {
            event.preventDefault();
            passwordHelp.classList.remove('text-gray-500');
            passwordHelp.classList.add('text-red-500');
            passwordHelp.textContent = 'Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, un chiffre et un caractère spécial.';
        } else {
            passwordHelp.classList.remove('text-red-500');
            passwordHelp.classList.add('text-gray-500');
            passwordHelp.textContent = 'Le mot de passe est valide.';
        }
    });
</script>
{% endblock %}