{% extends 'base.html.twig' %}

{% block title %}Hello Controller!{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<h3>Bonjour {{ app.user.username }}</h3>
			<a class="flex items-center space-x-2 py-1 group hover:border-r-4 hover:border-r-red-600 hover:font-semibold" href="{{ path('logout') }}">
				<span>Déconnexion</span>
			</a>
		{% else %}
			<a class="flex items-center space-x-2 py-1 group hover:border-r-4 hover:border-r-red-600 hover:font-semibold" href="{{ path('login') }}">
				<span>Connexion</span>
			</a>
		{% endif %}

	</div>
{% endblock %}
