<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>
      {% block title %}{% endblock %}
    </title>
    <!-- Tailwind CSS -->
    <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/app.min.css') }}" />
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
  </head>
  <body class="flex flex-col min-h-screen">
    {% set current_route = app.request.get('_route') %}
    {% set definedRoutes = ['home' , 'login', 'register', 'about', 'contact' , 'forgotpassword' , 'resetpassword' , 'order', 'contact', 'review'] %}

    {# Include header component #}
    {% if current_route in definedRoutes %}
      {% include 'components/header.html.twig' %}
    {% endif %}

    {% if current_route starts with 'admin' %}
      <main>
      {% else %}
        <main class="flex-grow container mx-auto p-4">
        {% endif %}
        {% block body %}{% endblock %}
      </main>

      {# Include footer component #}
      {% if current_route in definedRoutes %}
        {% include 'components/footer.html.twig' %}
      {% endif %}
  </body>
</html>

<script>
        // script permettant d'empecher le renvoie de formulaire 
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
</script>